body {
  background-color: #87b5b5;
  margin: 0;
}

#header-editor,#header-preview {
  background-color: #4aa3a3;
padding: 10px;

}

#main-editor {
  width: 500px;
  margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgb(94, 94, 94);
     margin-bottom: 60px;
}

#main-preview{
 
  width: 700px;
   margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgb(94, 94, 94);
}


#preview{
  padding: 10px;
  min-height: 500px;
  white-space: pre-wrap;
  background-color: white;
}

#preview img{
 width: 100%;
}

#preview h1,h2,h3,p,ul,li,ol,blockquote {
  margin: 0px auto;
  padding: 0px auto;
}

.flex{
  display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 10px;
}

#preview table {
  border: 1px solid gray;
  border-collapse: collapse;
}
#preview tr,td,th {
  border: 1px solid gray;
}


